[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
yapf = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
drf-flex-fields = "*"
django-url-filter = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
